{% extends "movie_app/base.html" %}
{% block Movielist %}


{% if movie_model_list %}
<div>
    <ul>
        {% for movies in movie_model_list %}
        <li><b>Movie Name:</b> {{ movies.name }}</li>
        <li><b>Year Released:</b> {{ movies.yearReleased }}</li>
        <li><b>Rating:</b> {{ movies.rating }}</li>
        <li><b>Genre:</b> {{ movies.genre }}</li>
        <p><img src="{{ movies.pic_url }}"></p>
        {{ movies.summary }}
        <hr/>
        {% endfor %}
    </ul>
</div>
{% else %}
<p>No Movies are available.</p>
{% endif %}
{% endblock %}

{% block Title %}
<h1 align="center"><b>Movie List</b></h1>
{% endblock %}

{% block Footer %}
<i>A NightxGamer test Website</i>
{% endblock %}

{% block sidebar %}


{% if movie_model_list %}

    <b>Movie Name</b>
        {% for movies in movie_model_list %}
        <a href="#"> <b>{{ movies.name }}</b></a>
        <br/>
        {% endfor %}


{% else %}
<p>No Movies are available.</p>
{% endif %}

{% endblock %}



{% block style %}
<style>
    body {
        font-family: "Lato", sans-serif;
    }

    .sidenav {
        height: 100%;
        width: 160px;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #111;
        overflow-x: hidden;
        padding-top: 20px;
    }

    .sidenav a {
        padding: 6px 8px 6px 16px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
    }

    .sidenav a:hover {
        color: #f1f1f1;
    }

    .main {
        margin-left: 160px; /* Same as the width of the sidenav */
        font-size: 28px; /* Increased text to enable scrolling */
        padding: 0px 10px;
    }

    @media screen and (max-height: 450px) {
        .sidenav {padding-top: 15px;}
        .sidenav a {font-size: 18px;}
    }
</style>
{% endblock %}